// Lato Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

// Font variables
$main-font: 'Lato', sans-serif;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;

$font-xs: 0.65rem;
$font-s: 0.8rem;
$font-r: 1rem;
$font-m: 1.25rem;
$font-l: 1.6rem;
$font-xl: 2rem;
$font-xxl: 3.5rem;
$font-header: 6.5rem;

// Color variables
$color-yellow: #eab342;
$color-blue: #46474f;
$color-white: #ffffff;
$color-lgt-grey: #d1d2d4;
$color-md-grey: #58585b;
$color-black: #000000;
