@import '../../layouts/partials/variables';

header {
  color: $color-white;
  background: url('../../images/ff-bg.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header-top-text {
      font-size: $font-r;
      font-weight: $font-light;
      @media only screen and (max-width: 450px) {
        font-size: $font-s;
      }
    }
    h1 {
      font-size: $font-header;
      margin: 0rem 0 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .invent {
        width: 50%;
        margin-bottom: -7.8rem;
        @media only screen and (max-width: 750px) {
          width: 90%;
          margin-bottom: -6.5rem;
        }
      }
    }
    .header-sub-title {
      font-size: $font-l;
      margin-bottom: 2.5rem;
      font-weight: $font-light;
      text-align: center;
      @media only screen and (max-width: 800px) {
        width: 80%;
      }
      @media only screen and (max-width: 450px) {
        font-size: $font-m;
        width: 90%;
      }
    }
    .header-text {
      font-weight: $font-light;
      margin-bottom: -1rem;
      @media only screen and (max-width: 750px) {
        margin-bottom: 0.25rem;
      }
    }
    .header-logos {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: end;
      align-items: center;
      margin-bottom: 0rem;
      @media only screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
      }
      img {
        padding: 2rem 2rem 0 3rem;
        width: 20rem;
        @media only screen and (max-width: 450px) {
          width: 20rem;
          padding: 0rem 2rem;
        }
      }
      .katana-logo {
        justify-self: start;
      }
      .google-logo {
        justify-self: end;
        @media only screen and (max-width: 450px) {
          margin-bottom: -2.5rem;
        }
      }
    }
    .header-date {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-size: $font-m;
      font-weight: $font-bold;
      @media only screen and (max-width: 450px) {
        font-size: $font-r;
      }
    }
  }
}
